/* 
#fafafa 
#6a6f9a 
#434766 
#2e324e
#eeb482 
*/

.App {
    background-image: url("../assets/denys-nevozhai-duo-xV0TU7s-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2e324e;
}

.App-header {
    background-color: #2e324e;
    position: absolute;
    min-height: 100vh;
    min-width: 40%;
    align-items: left;
    font-size: calc(10px + 2vmin);
}

.App-nav {
    position: absolute;
    top: 20px;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fafafa;
}

.App-nav p {
    padding-right: 10px;
}

.App-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    color: #fafafa;
}

.search {
    background-color: #434766;
    padding: 0 10px;
    border-radius: 10px;
}

.fa-search {
    color: #eeb482;
}

.App-footer {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6a6f9a;
    width: 340px;
}

.App-footer p {
    font-size: 18px;
}

.App-Input {
    background-color: #434766;
    width: 280px;
    height: 40px;
    border: none;
    margin-top: 5px;
    padding-left: 15px;
    color: #fafafa;
    font-size: 18px;
}

.App-Button {
    background-color: #eeb482;
    border: none;
    margin-top: 15px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    color: #2e324e;
}

.App-startside {
    min-height: 100vh;
    margin-left: 40%;
    align-items: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(2.1px);
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
